<footer>

       <!-- footer begin -->
       <footer class="footer-light" data-bgcolor="#0f0f0f">
        <div class="container">
            <div class="row">
               <!--  <div class="col-md-4 col-sm-6">
                    <div class="widget">
                        <h5>General</h5>
                        <ul>
                            <li><a href="Author.php">Model</a></li>
                            <li><a href="Create.php">Create</a></li>
                          
                            <li><a href="Contact.php">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="widget">
                        <h5>Technology</h5>
                        <ul>
                            <li> <a href="Explore.php">Explore</a></li>
                            <li><a href="Collection.php">Collections</a></li>
                            <li><a href="Activity.php">Activity</a></li>
                           
                        </ul>
                    </div>
                </div> -->
               
                <div class="col-md-10 m-auto">
                    <div class="widget text-center mb-0 pb-0">
                        <h5>Newsletter</h5>
                        <p>Signup for our newsletter to get the latest news in your inbox.</p>
                        <div class="email_message alert alert-primary col-md-8" style="display: none; margin-left: 142px;" >email sent success.</div>
                         <div class="row">
                             <div class="col-md-8 m-auto">
                                 <form action="/add-letters" class="row form-dark" id="form_subscribe" method="post" name="form_subscribe">
                                    <div class="col text-center">
                                         <input class="form-control" id="txt_subscribe" name="email" placeholder="enter your email" type="text" />
                                         <button type="submit" href="#" id="btn-subscribe">
                                             <i class="arrow_right bg-color-secondary"></i>
                                         </button>
                                        <div class="clearfix"></div>
                                    </div>
                                </form> 
                             </div>
                         </div>
                        <div class="spacer-10"></div>
                        <small>Your email is safe with us. We don't spam.</small>
                        <div>
                            <ul class="footer-links">
                           <!--  <li><a href="#">Details</a></li>     -->
                            <li><a href="/model">Model</a></li>
                            <!-- <li><a href="/users/login">Create</a></li> -->
                            <li><a href="/contact">Contact Us</a></li>
                             <li> <a href="/explore">Explore</a></li>
                            <!-- <li><a href="#">Collections</a></li> -->
                            <!-- <li><a href="#">Activity</a></li> -->
                            <li><a href="javascript::void(0)">Subscription Plan</a></li>
                            <li><a href="/users/signup">Register</a></li>
                            <li><a href="/terms-conditions">Terms & Conditions</a></li>
                            <li><a href="/privacy-policy">Privacy Policy</a></li>

                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="subfooter">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="de-flex">
                            <div class="de-flex-col">
                                <span class="copy">&copy; Copyright 2021 - TABOO NFT All Right Reserved.</span>
                                </a>
                            </div>
                            <div class="de-flex-col">
                                <div class="social-icons">
                                    <a href="https://www.facebook.com/TabooToken/"><i class="fa fa-facebook fa-lg"></i></a>
                                    <a href="https://twitter.com/TABOOOFFICIAL2"><i class="fa fa-twitter fa-lg"></i></a>
                                    <a href="https://www.youtube.com/channel/UCdNC5ODDYkRTbDfS8DlTq8Q"><i class="fa fa-youtube-play"></i></a>
                                    
                                    <a href="https://www.instagram.com/taboo.token/"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden"id="content_by_id"value=""/>
        <input type="hidden"id="content_by_price"value=""/>



        <div class="modal fade show" id="unlockModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                     <div class="popup-new-after">
                         <p>You Need Minimum <span id="required-taboo"></span> taboo token to unlock this model image.</p>
                         <a href="https://taboo-token-123.netlify.app/" class="btn-main">Unlock Now</a>
                     </div>
                </div>
               
              </div>
            </div>
          </div>
    </footer>
        <!-- footer close -->
     <!-- Javascript Files
    ================================================== -->
    <script src="/javascripts/js/jquery.min.js"></script>
    <script src="/javascripts/js/bootstrap.min.js"></script>
    <script src="/javascripts/js/bootstrap.bundle.min.js"></script>
    <script src="/javascripts/js/wow.min.js"></script>
    <script src="/javascripts/js/jquery.isotope.min.js"></script>
    <script src="/javascripts/js/easing.js"></script>
    <script src="/javascripts/js/owl.carousel.js"></script>
    <script src="/javascripts/js/validation.js"></script>
    <script src="/javascripts/js/jquery.magnific-popup.min.js"></script>
    <script src="/javascripts/js/enquire.min.js"></script>
    <script src="/javascripts/js/jquery.plugin.js"></script>
    <script src="/javascripts/js/jquery.countTo.js"></script>
    <script src="/javascripts/js/jquery.countdown.js"></script>
    <script src="/javascripts/js/jquery.lazy.min.js"></script>
    <script src="/javascripts/js/jquery.lazy.plugins.min.js"></script>
    <script src="/javascripts/js/designesia.js"></script>
    <script src="/javascripts/js/particles.js"></script>
    <script src="/javascripts/js/particles-settings-2.js"></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>

    <script src="/javascripts/js/jquery.nice-select.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   <!-- sweet alert -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js"></script> -->
    <!-- <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css"> -->
    <!-- sweet alert -->
    <!-- web3 cdn -->
    <script src="https://unpkg.com/web3@latest/dist/web3.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/web3modal"></script>
    <script type="text/javascript" src="https://unpkg.com/evm-chains/lib/index.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@walletconnect/web3-provider"></script>
    <script type="text/javascript" src="https://unpkg.com/fortmatic@2.0.6/dist/fortmatic.js"></script>
    <!-- web3 cdn -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.css">


    <script>
        $(".btn-selector").click(function(){
          $(".outer-div-explor ul").addClass("show");
        });
       
       
    </script>
    

     <script>
       $(window).on('load', function() { 
          $('#status').delay(1050).fadeOut(); 
          $('#preloader').delay(1050).fadeOut('slow');
          $('body').delay(1050).css({'overflow':'visible'});
        })
    </script>

<script>

  $(document).ready(function() {
    $('#table').DataTable();
} );

    $(document).ready(function() {
      $('select').niceSelect();
    });

    
    async function getAccount() {
        accountsLocal = await ethereum.request({
            method: 'eth_requestAccounts'
        });
           console.log(accountsLocal);
        accounts = accountsLocal[0];
        $(".hidden_address").val(accounts);
        //        var obj=document.getElementById('tx_id');
        //        obj.value=accounts;
        return accounts;
    }
    async function metanaskPopup(){
        finalprice =getBasicPrice();
        user_accounts = await getAccount();
        ethereum.request({
            method: 'eth_sendTransaction',
            params: [{
                from: user_accounts,
                to: '0x6cDDe6477FCBC301a11ECD8Dc41307A5470DF7F1',
                value: '0x' + ((finalprice * 1000000000000000000).toString(16)), //'0x09184e72a000',
                chainId: '0x1' //gasPrice: '0x09184e72a000',
                //gas: '21000',
            }, ],
        })

        .then((txHash) => {
           });
    }
   
   
   
    async function subscribeByMetaMask(value){
        finalprice =value;
        user_accounts = await getAccount();
        ethereum.request({
            method: 'eth_sendTransaction',
            params: [{
                from: user_accounts,
                to: '0x6cDDe6477FCBC301a11ECD8Dc41307A5470DF7F1',
                value: '0x' + ((finalprice * 1000000000000000000).toString(16)), //'0x09184e72a000',
                chainId: '0x1' //gasPrice: '0x09184e72a000',
                //gas: '21000',
            }, ],
        })

        .then((txHash) => {
            console.log(txHash);
            window.location.href="/subscribed";

            // var obj = document.getElementById('tx_id1');
            // // obj.value = txHash;
            // $.ajax({
            //     dataType: "json",
            //     type: 'GET',
            //     url: '/store-hash',
            //     data: {
            //         tx_id: txHash,
            //         art_id: art_id,
            //         address: user_accounts,
            //         qty: document.getElementById("copies").value,
            //         amount: finalprice,
            //         currency: currency,
            //         currencyRate: currencyRate
            //     },
            //     success: function(data) {
            //         swal({
            //             type: 'success',
            //             text: 'Transaction completed successfully.',
            //             timer: 3000,
            //             onOpen: function() {
            //                 swal.showLoading()
            //             }
            //         }).then(function() {
            //             location.reload();
            //         });
            //         //               location.reload();
            //     }
            // });
        });
    }
   
   
    



    function getContentId(){
    const queryString = window.location.search;

    const urlParams = new URLSearchParams(queryString);

     const content_id = urlParams.get('id')
    
      console.log(content_id);
      return content_id;
   }

   function getBasicPrice(){
       let price=document.getElementById("content_basic_price").value;
       return price;
   }

   function getBasicPriceAll(){
    let price=document.getElementById("content_by_price").value;
       return price;

   }

   function getContentIdAll(){
    let id=document.getElementById("content_by_id").value;
       return id;
   }

  
  </script>

<script>
    async function checkUser(){
        //metanaskPopup();
             
        //subscribeByMetaMask(0)
        
       let account= await onLogin();
      
       //console.log(account)
        $.ajax({type:"get",
                url:"/users/login-by-wallet",
                data:{account:account},
                success:function(res){
                   
                     if(res){  //alert(res);
                         console.log(res);
                        location.reload();

                     }else
                       {
                        swal("Please Select Wallet!");

                       } 
                      console.log(res);

                }
            });

    }
</script>    


<style>
    .dark-scheme footer {
    background: #111 !important;
}

.jYxAGf {
    z-index: 1000;
}
#unlockModal .modal-dialog {
  margin: 20% auto;
  text-align: center;
}
</style>
</footer>

