<!-- content begin -->
<div class="no-bottom no-top" id="content">
    <div id="top"></div>
    
    <!-- section begin -->
    <section id="subheader" class="text-light" data-bgimage="url(assets/images/background/subheader.jpg) top">
            <div class="center-y relative text-center">
                <div class="container">
                    <div class="row">
                        
                        <div class="col-md-12 text-center">
                            <h1>Terms & Conditions</h1>
                            <p><%=content.title %></p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
    </section>
    <!-- section close -->
    

    <section aria-label="section">
        <div class="container">
                <div class="row">
                <div class="col-lg-12">

                    <div class="padding40 box-rounded mb30" data-bgcolor="#F2F6FE">
                       <%-content.description %>
                    </div>



                </div>
                    
                </div>
            </div>

    </section>

</div>
<!-- content close -->