<div class="heading-row mb-20">
    <div class="row align-item-center">
       <div class="col-lg-6">
          <h3 class="page-title"><span class="page-title-icon bg-gradient-primary text-white mr-2"><i class="mdi mdi-home"></i></span> Change Password </h3>
       </div>
        <div class="col-lg-6">
         <div class="text-right">
           <div>
             <a href="/users/dashboard" class="btn btn-common bg-gradient-primary">Go Back</a>
           </div>
         </div>
       </div>
  </div>
  </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
           <div class="card-body">
             <div class="row">
               <div class="col-md-12">
                 <div>
                   <div class="profile-form mt-20">
                       <form action="/users/updatepassword"method="post" onsubmit="return validateForm()">
                      <div class="row">
                        <div class="col-md-4">

                            
                       
                            </div>
                       
                     
                     
                            <div class="col-md-12">
                            
                              <div class="row">
                                <div class="col-md-3">
                                  <div class="form-group">
                                     <label>Password</label>
                                     <input type="password" class="form-control"id="password"name="password"value=""required>
                                   </div>
                               </div>
                              
                               <div class="col-md-3">
                                  <div class="form-group">
                                     <label>Confirm Password</label>
                                     <input type="password" name="confirmpasword"id="conpassword" class="form-control"value="">
                                   </div>
                                   <h5 id="conpasscheck" style="color: red; display: none;">
                                    **Password didn't match
                                </h5>
                               </div>
                              
                               <% if(success_msg!=undefined){ %>
                                <p>
                                  <span class="error_validate flash_msg"><%= success_msg %></span>
                                     
                                </p>
                             <% }%>
                             </div>
                      
                      
                      
                     
                  
                      <div class="popup-btn text-left mt-3">
                        <button type="submit" class="btn btn-common bg-gradient-primary">Update</button>
                        <a href="" class="btn btn-common bg-gradient-primary">Clear</a>
                      </div>
                      </div>
                    </form>

                   </div>
                 </div>
               </div>
             </div>
           </div>
        </div>
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script>
  
function readURL(input) {
if (input.files && input.files[0]) {
var reader = new FileReader();
reader.onload = function (e) {
$('#user_profile_image_preview')
.attr('src', e.target.result)
.width(200)
.height(150);
};

reader.readAsDataURL(input.files[0]);
}
var src = $('#imgInp6').val(); // "static/images/banner/blue.jpg"
var tarr = src.split('/');      // ["static","images","banner","blue.jpg"]
var file = tarr[tarr.length-1]; // "blue.jpg"
var data = file.split('.')[0];  // "blue"

//alert(data);
$('#text_img_name').val(src);
}
</script>
<script>
   function validateForm(){ 

let password=validateConfirmPasswrd();

console.log(password)
if(!password){
        return false;
    }else
    {
      return true;
    }


}


function validateConfirmPasswrd() {
             let confirmPasswordValue = 
                 $('#conpassword').val();
             let passwrdValue = 
                 $('#password').val();
             if (passwrdValue != confirmPasswordValue) {
                 $('#conpasscheck').show();
                 $('#conpasscheck').html(
                     "**Password didn't Match");
                 $('#conpasscheck').css(
                     "color", "red");
                 return false;
             } else {
                 $('#conpasscheck').hide();

                 return true;
             }
         }

 
 function hideError(){
    $('#conpasscheck').hide(); 

 }

 window.onload = function() {
   hideError();
   abbrev_name("<%=name %>");
};


$(function() {
  
    setTimeout(function() {
        $('.flash_msg').text('')
    }, 5000);
});
</script>

<style>
  span.error_validate.flash_msg {
    text-align: center;
    padding: 32px;
    color: #fff !important;
}




</style>